@page
@model EstoqueApp.Pages.Products.IndexModel

<section>

    <h1>Produtos</h1>

    <div class="d-flex justify-content-between mb-3">
        <div class="d-flex gap-2">
            <a class="btn btn-primary" asp-page="AddProduct">Novo Produto</a>

            <form method="get" class="d-flex">
                <input type="text" class="form-control" placeholder="Buscar por nome ou SKU"
                       style="width: 250px;" name="searchterm" value="@Model.SearchTerm" />

                <button type="submit" class="btn btn-outline-secondary ms-2">Buscar</button>
            </form>

            <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#filterModal">
                <i class="bi bi-funnel"></i> Filtros
            </button>
        </div>
    </div>
    

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>SKU</th>
                <th>Estoque</th>
                <th>Preço</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Products)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Sku</td>
                    <td>@p.CurrentStock</td>
                    <td>@p.UnitPrice.ToString("C")</td>
                    <td>@p.Category?.Name</td>
                    <td>
                        <a class="btn btn-sm btn-warning" asp-page="EditProduct" asp-route-id="@p.Id">Editar</a>
                        <button type="button"
                                class="btn btn-sm btn-danger"
                                data-bs-toggle="modal"
                                data-bs-target="#confirmModal"
                                data-id="@p.Id"
                                data-handler="Delete"
                                data_message="Deseja realmente excluir o produto @p.Name ?">
                            Excluir
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- Modal de filtros -->
    <div class="modal fade" id="filterModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Filtros avançados</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form method="get">
                        <div class="mb-3">
                            <label>Categoria</label>
                            <select class="form-select" name="CategoryId"> @*  asp-items="Model.Categories" *@
                                <option value="">Todas</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label>Status</label>
                            <select class="form-select" name="IsActive">
                                <option value="">Todos</option>
                                <option value="true">Ativo</option>
                                <option value="false">Inativo</option>
                            </select>
                        </div>
                        @* <div class="mb-3">
                            <label>Estoque mínimo</label>
                            <input type="number" class="form-control" name="MinStock" />
                        </div> *@
                        <button type="submit" class="btn btn-primary">Aplicar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <partial name="./Shared/_ConfirmModalPartial"/>
</section>